body {
    font-family: Times New Roman, serif;
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 25px;
}

th {
    background-color: rgb(36, 91, 133);
    color: white;
    padding: 8px;
    text-align: left;
}

td {
    background-color: rgb(217, 230, 242);
    padding: 8px;
}

table,
th,
td {
    border: 1px solid rgb(27, 79, 114);
}

.form-container {
    width: 500px;
    background-color: rgb(184, 230, 184);
    margin: auto;
    padding: 30px;
    border-radius: 30px;
}

.form-container h2 {
    text-align: center;
    margin-bottom: 40px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: inline-block;
    width: 80px;
    font-size: 18px;
    vertical-align: top;
    margin-top: 8px;
}

input {
    width: 240px;
    padding: 8px;
    border: none;
    border-radius: 5px;

}

textarea {
    width: 240px;
    height: 80px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    resize: none;
    vertical-align: top;

}

button {
    margin-left: 85px;
    padding: 8px 40px;
    font-size: 18px;
    border: none;
    border-radius: 5px;

}